<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate </title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/searchBar.css">
    <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<header>
    <img id="logo3" src="../../css/logo3.png" alt="logo3">
    <a href="../../login"> <button id="header-button" >Sign in</button></a>
</header>

<nav class="nav" style="z-index: 1000">
    <button type="button" class="nav-close" onclick="toggleNav()">
        <ion-icon name="close-outline" size="large"></ion-icon>
    </button>
    <div class="nav-links-container" id="BrokerMenu"  >
        <a href="/buy_rentB" class="nav__link">
            <span class="nav__text">Buy / Rent</span>
            <ion-icon name="cash-outline" size="large"></ion-icon>
        </a>

        <a href="/myListings" class="nav__link">
            <span class="nav__text">My Listings</span>
            <ion-icon name="list-outline" size="large"></ion-icon>

        </a>
        <a href="../../editMyInfoB" class="nav__link">
            <span class="nav__text">Personal Info</span>
            <ion-icon name="person-outline" size="large"></ion-icon>
        </a>

        <a href="/showOffers" class="nav__link">
            <span class="nav__text">Offers</span>
            <ion-icon name="cash-outline" size="large"></ion-icon>
        </a>
        <form action="../../logout" method="post">
            "<button id="header-button"> log out </button>
        </form>

    </div>

</nav>
<main class="main">
    <button onclick="toggleNav()"><ion-icon name="menu-outline"></ion-icon></button>

</main>
<script>
    function toggleNav() {
        document.body.classList.toggle("nav-open");
    }
</script>

<div  id="searchbar">
    <form action="/buy_rentB" method="POST">
        <div class="horizontal">
            <input type="text" class="answ" name ="location" placeholder="Location">
            <input type="text" class="answ" id="minPrice"  name ="minPrice" placeholder="minPrice">
            <input type="text" class="answ" id="maxPrice" name ="maxPrice" placeholder="maxPrice">

            <select name="bath"  class="answ" id="baths">
                <option value="any" disabled selected>Baths</option>
                <option value="any">Any</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
            </select>

            <select name="beds" class="answ" id="beds">
                <option value="any" disabled selected>Beds</option>
                <option value="any">Any</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
            </select>
            <input type="text" id="yearBuilt" class="answ" name ="yearBuild +" placeholder="yearBuilt">
            <select name="floors" id="floors" class="answ">
                <option value="any" disabled selected>Floors</option>
                <option value="any">Any</option>
                <option value="1">1+</option>
                <option value="2">2+</option>
                <option value="3">3+</option>
            </select>
            <select name="garage" id="garage" class="answ">
                <option value="any" disabled selected>Garage</option>
                <option value="any" >Any</option>
                <option value="no">no</option>
                <option value="yes" >yes</option>

            </select>

            <select name="prop" id="propertyType" class="answ">
                <option value="any" disabled selected>Build type</option>
                <option value="any">Any</option>
                <option value="house">House</option>
                <option value="apartment">Apartment</option>
                <option value="condo">Condo</option>

            </select>

        </div>
        <div class="horizontal" id="h2">
            <select name="furnished" id="furnished" class="answ">
                <option value="any" disabled selected>Furnished</option>
                <option value="any" >Any</option>
                <option value="no">no</option>
                <option value="yes" >yes</option>
            </select>
            <select name="extra" id="extra" class="answ">
                <option value="any" disabled selected>Extra</option>
                <option value="none" >none</option>
                <option value="pool">pool</option>
                <option value="gym" >gym</option>
            </select>
            <input type="text" id="propsize" class="answ" name ="propsize" placeholder="Property size +">
            <select name="listing" id="listing" class="answ">
                <option value="any" disabled selected>Listing Type</option>
                <option value="buy" >buy</option>
                <option value="rent">rent</option>
                <option value="sold" >sold</option>
            </select>
            <input type="text" id="time" class="answ" name ="time" placeholder="Listed since(yyyy-mm-dd)">
            <input type="submit" value="Search" id="button">
        </div>
    </form>
</div>


<div class="container">
    <h1 class="mb-4"> Offers </h1>
    <% offers.forEach(offers => { %>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">Offer for <%= offers.house_name %></h4>
                <div class="card-text mb-2">
                    Address: <%= offers.address %>
                </div>
                <div class="card-text mb-2">
                    Name of the buyer: <%= offers.user_id %>
                </div>
                <div class="card-text mb-2"> 
                    Associated Email: <%= offers.email %>
                </div>
                <div class="card-text mb-2">
                    Price: <%= offers.price.toString().concat("$") %>
                </div>
                <div class="card-text mb-2"> 
                    Deed date: <%= offers.deed_date %>
                </div>
                <div class="card-text mb-2"> 
                    Occupancy date: <%= offers.occDate %>
                </div>
                <form onSubmit="return confirm('Are you sure about your selection?')" action="/listings/delete/<%= offers.house_name %>?_method=DELETE" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-info"> Accept </button>
                    <button type="submit" class="btn btn-danger"> Delete </button>
                </form>
            </div>
        </div>
    <% }) %>
</div>


<script type="module" src=" https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src=" https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>